<div class="mt-7 overflow-x-auto">
  <table class="w-full whitespace-nowrap">
    <thead>
      <th
        class="
          md:w-1/5
          font-sans
          text-xs
          font-semibold
          text-left
          pb-3
          px-4
          text-muted-400
          dark:text-muted-300
        "
      >
        <span>Cardholder</span>
      </th>
      <th
        class="
          md:w-2/5
          font-sans
          text-xs
          font-semibold
          text-left
          pb-3
          px-4
          text-muted-400
          dark:text-muted-300
        "
      >
        <span>Card</span>
      </th>
      <th
        class="
          font-sans
          text-xs
          font-semibold
          text-left
          pb-3
          px-4
          text-muted-400
          dark:text-muted-300
        "
      >
        <span>Spent this month</span>
      </th>
      <th
        class="
          font-sans
          text-xs
          font-semibold
          text-left
          pb-3
          px-4
          text-muted-400
          dark:text-muted-300
        "
      >
        <span>Type</span>
      </th>
      <th
        class="
          font-sans
          text-xs
          font-semibold
          text-left
          pb-3
          px-4
          text-muted-400
          dark:text-muted-300
        "
      >
        <span>Account</span>
      </th>
    </thead>
    <tbody>
      <!--Row-->
      <tr
        tabindex="0"
        class="hover:bg-muted-100 dark:hover:bg-muted-1000 cursor-pointer"
        @click="$store.app.isCardPanelOpen = true"
      >
        <td class="py-2 px-4">
          <span
            class="
              font-sans
              text-sm
              font-medium
              leading-none
              text-muted-500
              dark:text-muted-300
            "
          >
            Mara C. (you)
          </span>
        </td>
        <td class="py-2 px-4">
          <div
            class="
              flex
              items-center
              gap-2
              mr-5
              md:mr-0
              text-muted-500
              dark:text-muted-300
            "
          >
            <i
              class="block iconify w-6 h-6"
              data-icon="iconoir:credit-card"
            ></i>
            <span class="font-sm text-sm font-medium leading-none">
              •••• 4479
            </span>
            <span
              class="
                inline-block
                font-sans
                text-xs
                py-1.5
                px-3
                m-1
                rounded-full
                bg-muted-100
                dark:bg-muted-600/10
                text-muted-500
              "
            >
              Active
            </span>
          </div>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              font-sans
              text-base
              font-medium
              leading-none
              text-muted-800
              dark:text-muted-100
            "
          >
            $3642.23
          </span>
        </td>
        <td class="py-2 px-4">
          <span
            class="font-sans text-sm font-medium leading-none text-muted-400"
          >
            Physical
          </span>
        </td>
        <td class="py-2 px-4">
          <span
            class="font-sans text-sm font-medium leading-none text-muted-400"
          >
            xxx4565494
          </span>
        </td>
      </tr>
      <!--Row-->
      <tr
        tabindex="0"
        class="hover:bg-muted-100 dark:hover:bg-muted-1000 cursor-pointer"
        @click="$store.app.isCardPanelOpen = true"
      >
        <td class="py-2 px-4">
          <span
            class="
              font-sans
              text-sm
              font-medium
              leading-none
              text-muted-500
              dark:text-muted-300
            "
          >
            Mara C. (you)
          </span>
        </td>
        <td class="py-2 px-4">
          <div
            class="
              flex
              items-center
              gap-2
              mr-5
              md:mr-0
              text-muted-500
              dark:text-muted-300
            "
          >
            <i
              class="block iconify w-6 h-6"
              data-icon="iconoir:credit-card"
            ></i>
            <span class="font-sm text-sm font-medium leading-none">
              •••• 2461
            </span>
            <span
              class="
                inline-block
                font-sans
                text-xs
                py-1.5
                px-3
                m-1
                rounded-full
                bg-muted-100
                dark:bg-muted-600/10
                text-muted-500
              "
            >
              Active
            </span>
          </div>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              font-sans
              text-base
              font-medium
              leading-none
              text-muted-800
              dark:text-muted-100
            "
          >
            $178.12
          </span>
        </td>
        <td class="py-2 px-4">
          <span
            class="font-sans text-sm font-medium leading-none text-muted-400"
          >
            Physical
          </span>
        </td>
        <td class="py-2 px-4">
          <span
            class="font-sans text-sm font-medium leading-none text-muted-400"
          >
            xxx4565498
          </span>
        </td>
      </tr>
      <!--Row-->
      <tr
        tabindex="0"
        class="hover:bg-muted-100 dark:hover:bg-muted-1000 cursor-pointer"
        @click="$store.app.isCardPanelOpen = true"
      >
        <td class="py-2 px-4">
          <span
            class="
              font-sans
              text-sm
              font-medium
              leading-none
              text-muted-500
              dark:text-muted-300
            "
          >
            Lydia C.
          </span>
        </td>
        <td class="py-2 px-4">
          <div
            class="
              flex
              items-center
              gap-2
              mr-5
              md:mr-0
              text-muted-500
              dark:text-muted-300
            "
          >
            <i
              class="block iconify w-6 h-6"
              data-icon="iconoir:credit-card"
            ></i>
            <span class="font-sm text-sm font-medium leading-none">
              •••• 8761
            </span>
            <span
              class="
                inline-block
                font-sans
                text-xs
                py-1.5
                px-3
                m-1
                rounded-full
                bg-muted-100
                dark:bg-muted-600/10
                text-muted-500
              "
            >
              Inactive
            </span>
          </div>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              font-sans
              text-base
              font-medium
              leading-none
              text-muted-800
              dark:text-muted-100
            "
          >
            $0.00
          </span>
        </td>
        <td class="py-2 px-4">
          <span
            class="font-sans text-sm font-medium leading-none text-muted-400"
          >
            Virtual
          </span>
        </td>
        <td class="py-2 px-4">
          <span
            class="font-sans text-sm font-medium leading-none text-muted-400"
          >
            xxx4565474
          </span>
        </td>
      </tr>
      <!--Row-->
      <tr
        tabindex="0"
        class="hover:bg-muted-100 dark:hover:bg-muted-1000 cursor-pointer"
        @click="$store.app.isCardPanelOpen = true"
      >
        <td class="py-2 px-4">
          <span
            class="
              font-sans
              text-sm
              font-medium
              leading-none
              text-muted-500
              dark:text-muted-300
            "
          >
            Kaleb C.
          </span>
        </td>
        <td class="py-2 px-4">
          <div
            class="
              flex
              items-center
              gap-2
              mr-5
              md:mr-0
              text-muted-500
              dark:text-muted-300
            "
          >
            <i
              class="block iconify w-6 h-6"
              data-icon="iconoir:credit-card"
            ></i>
            <span class="font-sm text-sm font-medium leading-none">
              •••• 1649
            </span>
            <span
              class="
                inline-block
                font-sans
                text-xs
                py-1.5
                px-3
                m-1
                rounded-full
                bg-muted-100
                dark:bg-muted-600/10
                text-muted-500
              "
            >
              Active
            </span>
          </div>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              font-sans
              text-base
              font-medium
              leading-none
              text-muted-800
              dark:text-muted-100
            "
          >
            $38.64
          </span>
        </td>
        <td class="py-2 px-4">
          <span
            class="font-sans text-sm font-medium leading-none text-muted-400"
          >
            Virtual
          </span>
        </td>
        <td class="py-2 px-4">
          <span
            class="font-sans text-sm font-medium leading-none text-muted-400"
          >
            xxx4565498
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
