<div class="w-full max-w-md mx-auto text-center py-6">
  <div class="text-primary-500 mx-auto w-14 h-14 mb-4">
    {{> vector/icons/check-icon-animated}}
  </div>
  <h2
    class="font-heading font-bold text-2xl mb-2 text-muted-800 dark:text-white"
  >
    Your card is on the way!
  </h2>
  <p class="font-sans text-muted-500 dark:text-muted-400 mb-5">
    Amazing! You've properly filled in your credit card request. We'll let you
    know as soon as it is sent to you.
  </p>
  <div class="flex justify-center">
    <a
      href="/home.html"
      class="h-10 w-48 inline-flex justify-center items-center gap-x-2 px-6 py-2 font-sans text-sm text-white bg-primary-500 rounded-full shadow-lg shadow-primary-500/20 hover:shadow-xl tw-accessibility transition-all duration-300"
      @click.prevent="window.history.go(-1); return false;"
    >
      <span>Take me back</span>
    </a>
  </div>
</div>
