<div class="mt-7 px-2 overflow-x-auto">
  <table class="w-full whitespace-nowrap">
    <thead>
      <th class="w-1/5 pb-3 px-4">
        <span
          class="block placeload animate-placeload rounded h-3.5 w-6"
        ></span>
      </th>
      <th class="w-2/5 pb-3 px-4">
        <span
          class="block placeload animate-placeload rounded h-3.5 w-14"
        ></span>
      </th>
      <th class="pb-3 px-4">
        <span
          class="block placeload animate-placeload rounded h-3.5 w-16"
        ></span>
      </th>
      <th class="pb-3 px-4">
        <span
          class="block placeload animate-placeload rounded h-3.5 w-16"
        ></span>
      </th>
      <th class="pb-3 px-4">
        <span
          class="block placeload animate-placeload rounded h-3.5 w-12"
        ></span>
      </th>
      <th class="font-sans text-xs font-semibold pb-3 px-4">
        <span
          class="block placeload animate-placeload rounded h-3.5 w-20"
        ></span>
      </th>
    </thead>
    <tbody>
      <!--Row-->
      <tr tabindex="0">
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-28"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              inline-block
              font-sans
              text-xs
              py-1.5
              px-3
              m-1
              rounded-full
              text-transparent
              placeload
              animate-placeload
            "
          >
            Complete
          </span>
        </td>
        <td class="py-2 px-4">
          <div class="flex items-center gap-2">
            <span
              class="block placeload animate-placeload rounded-full w-5 h-5"
            ></span>
            <span
              class="block placeload animate-placeload rounded h-4 w-16"
            ></span>
          </div>
        </td>
      </tr>
      <!--Row-->
      <tr tabindex="0">
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-28"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              inline-block
              font-sans
              text-xs
              py-1.5
              px-3
              m-1
              rounded-full
              text-transparent
              placeload
              animate-placeload
            "
          >
            Complete
          </span>
        </td>
        <td class="py-2 px-4">
          <div class="flex items-center gap-2">
            <span
              class="block placeload animate-placeload rounded-full w-5 h-5"
            ></span>
            <span
              class="block placeload animate-placeload rounded h-4 w-16"
            ></span>
          </div>
        </td>
      </tr>
      <!--Row-->
      <tr tabindex="0">
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-28"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              inline-block
              font-sans
              text-xs
              py-1.5
              px-3
              m-1
              rounded-full
              text-transparent
              placeload
              animate-placeload
            "
          >
            Complete
          </span>
        </td>
        <td class="py-2 px-4">
          <div class="flex items-center gap-2">
            <span
              class="block placeload animate-placeload rounded-full w-5 h-5"
            ></span>
            <span
              class="block placeload animate-placeload rounded h-4 w-16"
            ></span>
          </div>
        </td>
      </tr>
      <!--Row-->
      <tr tabindex="0">
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-28"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              inline-block
              font-sans
              text-xs
              py-1.5
              px-3
              m-1
              rounded-full
              text-transparent
              placeload
              animate-placeload
            "
          >
            Complete
          </span>
        </td>
        <td class="py-2 px-4">
          <div class="flex items-center gap-2">
            <span
              class="block placeload animate-placeload rounded-full w-5 h-5"
            ></span>
            <span
              class="block placeload animate-placeload rounded h-4 w-16"
            ></span>
          </div>
        </td>
      </tr>
      <!--Row-->
      <tr tabindex="0">
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-28"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              inline-block
              font-sans
              text-xs
              py-1.5
              px-3
              m-1
              rounded-full
              text-transparent
              placeload
              animate-placeload
            "
          >
            Complete
          </span>
        </td>
        <td class="py-2 px-4">
          <div class="flex items-center gap-2">
            <span
              class="block placeload animate-placeload rounded-full w-5 h-5"
            ></span>
            <span
              class="block placeload animate-placeload rounded h-4 w-16"
            ></span>
          </div>
        </td>
      </tr>
      <!--Row-->
      <tr tabindex="0">
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-28"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              inline-block
              font-sans
              text-xs
              py-1.5
              px-3
              m-1
              rounded-full
              text-transparent
              placeload
              animate-placeload
            "
          >
            Complete
          </span>
        </td>
        <td class="py-2 px-4">
          <div class="flex items-center gap-2">
            <span
              class="block placeload animate-placeload rounded-full w-5 h-5"
            ></span>
            <span
              class="block placeload animate-placeload rounded h-4 w-16"
            ></span>
          </div>
        </td>
      </tr>
      <!--Row-->
      <tr tabindex="0">
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-28"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              inline-block
              font-sans
              text-xs
              py-1.5
              px-3
              m-1
              rounded-full
              text-transparent
              placeload
              animate-placeload
            "
          >
            Complete
          </span>
        </td>
        <td class="py-2 px-4">
          <div class="flex items-center gap-2">
            <span
              class="block placeload animate-placeload rounded-full w-5 h-5"
            ></span>
            <span
              class="block placeload animate-placeload rounded h-4 w-16"
            ></span>
          </div>
        </td>
      </tr>
      <!--Row-->
      <tr tabindex="0">
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-28"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              inline-block
              font-sans
              text-xs
              py-1.5
              px-3
              m-1
              rounded-full
              text-transparent
              placeload
              animate-placeload
            "
          >
            Complete
          </span>
        </td>
        <td class="py-2 px-4">
          <div class="flex items-center gap-2">
            <span
              class="block placeload animate-placeload rounded-full w-5 h-5"
            ></span>
            <span
              class="block placeload animate-placeload rounded h-4 w-16"
            ></span>
          </div>
        </td>
      </tr>
      <!--Row-->
      <tr tabindex="0">
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-28"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              inline-block
              font-sans
              text-xs
              py-1.5
              px-3
              m-1
              rounded-full
              text-transparent
              placeload
              animate-placeload
            "
          >
            Complete
          </span>
        </td>
        <td class="py-2 px-4">
          <div class="flex items-center gap-2">
            <span
              class="block placeload animate-placeload rounded-full w-5 h-5"
            ></span>
            <span
              class="block placeload animate-placeload rounded h-4 w-16"
            ></span>
          </div>
        </td>
      </tr>
      <!--Row-->
      <tr tabindex="0">
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-28"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="block placeload animate-placeload rounded h-4 w-20"
          ></span>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              inline-block
              font-sans
              text-xs
              py-1.5
              px-3
              m-1
              rounded-full
              text-transparent
              placeload
              animate-placeload
            "
          >
            Complete
          </span>
        </td>
        <td class="py-2 px-4">
          <div class="flex items-center gap-2">
            <span
              class="block placeload animate-placeload rounded-full w-5 h-5"
            ></span>
            <span
              class="block placeload animate-placeload rounded h-4 w-16"
            ></span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
