<div
  x-data="dropdown()"
  class="relative w-full h-20 flex items-center justify-between"
  @click.away="close()"
>
  <!--Dropdown button-->
  <button type="button" class="w-full flex items-center gap-2" @click="open()">
    <img
      class="w-10 h-10 rounded-full"
      :class="$store.app.isLayoutCompact ? 'mx-auto' : 'mx-0'"
      src="/img/avatars/44.jpg"
      alt="User photo"
    />
    <span :class="$store.app.isLayoutCompact ? 'hidden' : 'block'">
      <h5 class="font-heading font-semibold text-muted-600 dark:text-muted-200">
        Mara C.
      </h5>
    </span>
    <i
      class="
        iconify
        w-5
        h-5
        ml-auto
        text-muted-400
        transition-transform
        duration-300
      "
      :class="[
        $store.app.isLayoutCompact ? 'hidden' : 'block',
        isOpen ? 'rotate-180' : ''
      ]"
      data-icon="lucide:chevron-up"
    ></i>
  </button>

  <!--Dropdown menu-->
  <div
    x-cloak
    x-show="isOpen"
    x-transition
    class="
      absolute
      -top-80
      -left-2
      w-[240px]
      overflow-y-auto
      slimscroll
      p-2
      rounded-lg
      bg-white
      dark:bg-muted-900
      border border-muted-200
      dark:border-muted-800
      shadow-2xl shadow-muted-400/20
      dark:shadow-muted-800/10
      z-20
    "
  >
    <!--Header-->
    <div
      class="
        flex
        items-center
        gap-x-2
        py-4
        px-6
        border-b border-muted-200
        dark:border-muted-700
      "
    >
      <div class="relative flex items-center justify-center h-12 w-12">
        <img
          src="/img/avatars/44.jpg"
          class="w-full h-full object-cover rounded-full"
          alt="Profile image"
        />
      </div>
      <h3
        class="
          font-sans
          text-sm
          font-medium
          uppercase
          text-muted-500
          dark:text-muted-200
        "
      >
        Hi, Mara
      </h3>
    </div>
    <ul class="space-y-1 pt-2">
      <li>
        <a
          href="/documents.html"
          class="
            flex
            items-center
            gap-3
            p-2
            rounded-lg
            text-muted-400
            hover:text-primary-500 hover:bg-muted-100
            dark:hover:bg-muted-800
            transition-colors
            duration-300
          "
        >
          <i class="iconify w-5 h-5" data-icon="ph:folder-duotone"></i>
          <div class="font-sans">
            <h5
              class="text-xs font-semibold text-muted-800 dark:text-muted-200"
            >
              Documents
            </h5>
            <p class="text-xs text-muted-400">Documents and statements</p>
          </div>
        </a>
      </li>
      <li>
        <a
          href="/offers.html"
          class="
            flex
            items-center
            gap-3
            p-2
            rounded-lg
            text-muted-400
            hover:text-primary-500 hover:bg-muted-100
            dark:hover:bg-muted-800
            transition-colors
            duration-300
          "
        >
          <i class="iconify w-5 h-5" data-icon="ph:gift-duotone"></i>
          <div class="font-sans">
            <h5
              class="text-xs font-semibold text-muted-800 dark:text-muted-200"
            >
              Offers
            </h5>
            <p class="text-xs text-muted-400">Offers from our partners</p>
          </div>
        </a>
      </li>
      <li>
        <a
          href="/settings.html"
          class="
            flex
            items-center
            gap-3
            p-2
            rounded-lg
            text-muted-400
            hover:text-primary-500 hover:bg-muted-100
            dark:hover:bg-muted-800
            transition-colors
            duration-300
          "
        >
          <i class="iconify w-5 h-5" data-icon="ph:gear-six-duotone"></i>
          <div class="font-sans">
            <h5
              class="text-xs font-semibold text-muted-800 dark:text-muted-200"
            >
              Settings
            </h5>
            <p class="text-xs text-muted-400">Manage preferences</p>
          </div>
        </a>
      </li>
      <li>
        <a
          href="/login.html"
          class="
            flex
            items-center
            gap-3
            p-2
            rounded-lg
            text-muted-400
            hover:text-primary-500 hover:bg-muted-100
            dark:hover:bg-muted-800
            transition-colors
            duration-300
          "
        >
          <i class="iconify w-5 h-5" data-icon="ph:sign-out-duotone"></i>
          <div class="font-sans">
            <h5
              class="text-xs font-semibold text-muted-800 dark:text-muted-200"
            >
              Logout
            </h5>
            <p class="text-xs text-muted-400">Logout from account</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
