<div class="divide-y divide-muted-200 dark:divide-muted-800 mt-3">
  <!--item-->
  <div class="flex flex-col md:flex-row items-center py-5">
    <div class="flex flex-col md:flex-row items-center gap-2">
      <div
        class="
          h-12
          w-12
          flex
          items-center
          justify-center
          rounded-full
          bg-muted-100
          dark:bg-muted-800
        "
      >
        <iconify-icon class="iconify w-5 h-5 flex items-center justify-center text-lg" icon="logos:airbnb-icon"></iconify-icon>
      </div>
      <span
        class="
          font-sm
          text-sm
          font-medium
          leading-none
          text-muted-500
          dark:text-muted-300
        "
      >
        Airbnb
      </span>
    </div>
    <div class="flex flex-col md:flex-row items-center gap-6 md:ml-auto">
      <div>
        <span
          class="
            font-sans
            text-base
            font-medium
            leading-none
            text-muted-800
            dark:text-muted-100
          "
        >
          $387.56
        </span>
      </div>
      <div>
        <span
          class="
            font-sans
            text-sm
            font-medium
            leading-none
            text-muted-500
            dark:text-muted-300
          "
        >
          Oct 8, 2022
        </span>
      </div>
      <div class="flex items-center gap-2">
        <button
          type="button"
          class="
            group
            font-sans font-medium
            text-sm
            inline-flex
            items-center
            justify-center
            gap-2
            h-9
            px-6
            rounded-full
            bg-muted-100
            hover:bg-muted-200
            dark:bg-muted-800 dark:hover:bg-muted-700
            text-muted-500
            hover:text-muted-600
            dark:hover:text-muted-300
            transition-all
            duration-300
            tw-accessibility
          "
        >
          <span>Cancel</span>
        </button>
        <button
          type="button"
          class="
            group
            font-sans font-medium
            text-sm
            inline-flex
            items-center
            justify-center
            gap-2
            h-9
            px-6
            rounded-full
            bg-muted-100
            hover:bg-muted-200
            dark:bg-muted-800 dark:hover:bg-muted-700
            text-muted-500
            hover:text-muted-600
            dark:hover:text-muted-300
            transition-all
            duration-300
            tw-accessibility
          "
        >
          <span>Pay Now</span>
        </button>
      </div>
    </div>
  </div>
  <!--item-->
  <div class="flex flex-col md:flex-row items-center py-5">
    <div class="flex flex-col md:flex-row items-center gap-2">
      <div
        class="
          h-12
          w-12
          flex
          items-center
          justify-center
          rounded-full
          bg-muted-100
          dark:bg-muted-800
        "
      >
        <img
          src="/img/avatars/51.jpg"
          class="w-9 h-9 object-cover rounded-full"
          alt="Recepient image"
          width="36"
          height="36"
        />
      </div>
      <span
        class="
          font-sm
          text-sm
          font-medium
          leading-none
          text-muted-500
          dark:text-muted-300
        "
      >
        Mike Wilson
      </span>
    </div>
    <div class="flex flex-col md:flex-row items-center gap-6 md:ml-auto">
      <div>
        <span
          class="
            font-sans
            text-base
            font-medium
            leading-none
            text-muted-800
            dark:text-muted-100
          "
        >
          $800.00
        </span>
      </div>
      <div>
        <span
          class="
            font-sans
            text-sm
            font-medium
            leading-none
            text-muted-500
            dark:text-muted-300
          "
        >
          Oct 15, 2022
        </span>
      </div>
      <div class="flex items-center gap-2">
        <button
          type="button"
          class="
            group
            font-sans font-medium
            text-sm
            inline-flex
            items-center
            justify-center
            gap-2
            h-9
            px-6
            rounded-full
            bg-muted-100
            hover:bg-muted-200
            dark:bg-muted-800 dark:hover:bg-muted-700
            text-muted-500
            hover:text-muted-600
            dark:hover:text-muted-300
            transition-all
            duration-300
            tw-accessibility
          "
        >
          <span>Cancel</span>
        </button>
        <button
          type="button"
          class="
            group
            font-sans font-medium
            text-sm
            inline-flex
            items-center
            justify-center
            gap-2
            h-9
            px-6
            rounded-full
            bg-muted-100
            hover:bg-muted-200
            dark:bg-muted-800 dark:hover:bg-muted-700
            text-muted-500
            hover:text-muted-600
            dark:hover:text-muted-300
            transition-all
            duration-300
            tw-accessibility
          "
        >
          <span>Pay Now</span>
        </button>
      </div>
    </div>
  </div>
  <!--item-->
  <div class="flex flex-col md:flex-row items-center py-5">
    <div class="flex flex-col md:flex-row items-center gap-2">
      <div
        class="
          h-12
          w-12
          flex
          items-center
          justify-center
          rounded-full
          bg-muted-100
          dark:bg-muted-800
        "
      >
        <iconify-icon class="iconify w-5 h-5 text-emerald-500 flex items-center justify-center text-lg" icon="cib:t-mobile"></iconify-icon>
      </div>
      <span
        class="
          font-sm
          text-sm
          font-medium
          leading-none
          text-muted-500
          dark:text-muted-300
        "
      >
        T-Mobile
      </span>
    </div>
    <div class="flex flex-col md:flex-row items-center gap-6 md:ml-auto">
      <div>
        <span
          class="
            font-sans
            text-base
            font-medium
            leading-none
            text-muted-800
            dark:text-muted-100
          "
        >
          $49.99
        </span>
      </div>
      <div>
        <span
          class="
            font-sans
            text-sm
            font-medium
            leading-none
            text-muted-500
            dark:text-muted-300
          "
        >
          Oct 18, 2022
        </span>
      </div>
      <div class="flex items-center gap-2">
        <button
          type="button"
          class="
            group
            font-sans font-medium
            text-sm
            inline-flex
            items-center
            justify-center
            gap-2
            h-9
            px-6
            rounded-full
            bg-muted-100
            hover:bg-muted-200
            dark:bg-muted-800 dark:hover:bg-muted-700
            text-muted-500
            hover:text-muted-600
            dark:hover:text-muted-300
            transition-all
            duration-300
            tw-accessibility
          "
        >
          <span>Cancel</span>
        </button>
        <button
          type="button"
          class="
            group
            font-sans font-medium
            text-sm
            inline-flex
            items-center
            justify-center
            gap-2
            h-9
            px-6
            rounded-full
            bg-muted-100
            hover:bg-muted-200
            dark:bg-muted-800 dark:hover:bg-muted-700
            text-muted-500
            hover:text-muted-600
            dark:hover:text-muted-300
            transition-all
            duration-300
            tw-accessibility
          "
        >
          <span>Pay Now</span>
        </button>
      </div>
    </div>
  </div>
  <!--item-->
  <div class="flex flex-col md:flex-row items-center py-5">
    <div class="flex flex-col md:flex-row items-center gap-2">
      <div
        class="
          h-12
          w-12
          flex
          items-center
          justify-center
          rounded-full
          bg-muted-100
          dark:bg-muted-800
        "
      >
        <iconify-icon class="iconify w-5 h-5 flex items-center justify-center text-lg" icon="logos:dropbox"></iconify-icon>
      </div>
      <span
        class="
          font-sm
          text-sm
          font-medium
          leading-none
          text-muted-500
          dark:text-muted-300
        "
      >
        Dropbox
      </span>
    </div>
    <div class="flex flex-col md:flex-row items-center gap-6 md:ml-auto">
      <div>
        <span
          class="
            font-sans
            text-base
            font-medium
            leading-none
            text-muted-800
            dark:text-muted-100
          "
        >
          $29.99
        </span>
      </div>
      <div>
        <span
          class="
            font-sans
            text-sm
            font-medium
            leading-none
            text-muted-500
            dark:text-muted-300
          "
        >
          Oct 20, 2022
        </span>
      </div>
      <div class="flex items-center gap-2">
        <button
          type="button"
          class="
            group
            font-sans font-medium
            text-sm
            inline-flex
            items-center
            justify-center
            gap-2
            h-9
            px-6
            rounded-full
            bg-muted-100
            hover:bg-muted-200
            dark:bg-muted-800 dark:hover:bg-muted-700
            text-muted-500
            hover:text-muted-600
            dark:hover:text-muted-300
            transition-all
            duration-300
            tw-accessibility
          "
        >
          <span>Cancel</span>
        </button>
        <button
          type="button"
          class="
            group
            font-sans font-medium
            text-sm
            inline-flex
            items-center
            justify-center
            gap-2
            h-9
            px-6
            rounded-full
            bg-muted-100
            hover:bg-muted-200
            dark:bg-muted-800 dark:hover:bg-muted-700
            text-muted-500
            hover:text-muted-600
            dark:hover:text-muted-300
            transition-all
            duration-300
            tw-accessibility
          "
        >
          <span>Pay Now</span>
        </button>
      </div>
    </div>
  </div>
</div>
