<div class="grid md:grid-cols-3 gap-5">
  <!--Grid item-->
  <div
    class="
      p-5
      rounded-lg
      bg-white
      dark:bg-muted-1000
      border border-muted-200
      dark:border-muted-800
    "
  >
    <div class="flex items-center gap-2">
      <div
        class="
          h-14
          w-14
          ptablet:h-12 ptablet:w-12
          flex
          items-center
          justify-center
          rounded-full
          bg-muted-100
          dark:bg-muted-800
        "
      >
        <i
          class="iconify w-6 h-6 ptablet:w-5 ptablet:h-5"
          data-icon="logos:airbnb-icon"
        ></i>
      </div>
      <div>
        <h5
          class="
            font-sans
            text-base
            font-medium
            leading-none
            text-muted-500
            dark:text-muted-300
          "
        >
          Airbnb
        </h5>
        <p class="font-sans text-sm text-muted-400">Housing company</p>
      </div>
    </div>
  </div>
  <!--Grid item-->
  <div
    class="
      p-5
      rounded-lg
      bg-white
      dark:bg-muted-1000
      border border-muted-200
      dark:border-muted-800
    "
  >
    <div class="flex items-center gap-2">
      <div
        class="
          h-14
          w-14
          ptablet:h-12 ptablet:w-12
          flex
          items-center
          justify-center
          rounded-full
          bg-muted-100
          dark:bg-muted-800
        "
      >
        <img
          src="/img/avatars/51.jpg"
          class="w-11 h-11 ptablet:w-9 ptablet:h-9 object-cover rounded-full"
          alt="Recepient image"
        />
      </div>
      <div>
        <h5
          class="
            font-sans
            text-base
            font-medium
            leading-none
            text-muted-500
            dark:text-muted-300
          "
        >
          Mike Wilson
        </h5>
        <p class="font-sans text-sm text-muted-400">Freelance worker</p>
      </div>
    </div>
  </div>
  <!--Grid item-->
  <div
    class="
      p-5
      rounded-lg
      bg-white
      dark:bg-muted-1000
      border border-muted-200
      dark:border-muted-800
    "
  >
    <div class="flex items-center gap-2">
      <div
        class="
          h-14
          w-14
          ptablet:h-12 ptablet:w-12
          flex
          items-center
          justify-center
          rounded-full
          bg-muted-100
          dark:bg-muted-800
        "
      >
        <i
          class="iconify w-6 h-6 ptablet:w-5 ptablet:h-5 text-emerald-500"
          data-icon="cib:t-mobile"
        ></i>
      </div>
      <div>
        <h5
          class="
            font-sans
            text-base
            font-medium
            leading-none
            text-muted-500
            dark:text-muted-300
          "
        >
          T-Mobile
        </h5>
        <p class="font-sans text-sm text-muted-400">Phone company</p>
      </div>
    </div>
  </div>
  <!--Grid item-->
  <div
    class="
      p-5
      rounded-lg
      bg-white
      dark:bg-muted-1000
      border border-muted-200
      dark:border-muted-800
    "
  >
    <div class="flex items-center gap-2">
      <div
        class="
          h-14
          w-14
          ptablet:h-12 ptablet:w-12
          flex
          items-center
          justify-center
          rounded-full
          bg-muted-100
          dark:bg-muted-800
        "
      >
        <i
          class="iconify w-5 h-5 ptablet:w-5 ptablet:h-5"
          data-icon="logos:dropbox"
        ></i>
      </div>
      <div>
        <h5
          class="
            font-sans
            text-base
            font-medium
            leading-none
            text-muted-500
            dark:text-muted-300
          "
        >
          Dropbox
        </h5>
        <p class="font-sans text-sm text-muted-400">Software company</p>
      </div>
    </div>
  </div>
  <!--Grid item-->
  <div
    class="
      p-5
      rounded-lg
      bg-white
      dark:bg-muted-1000
      border border-muted-200
      dark:border-muted-800
    "
  >
    <div class="flex items-center gap-2">
      <div
        class="
          h-14
          w-14
          ptablet:h-12 ptablet:w-12
          flex
          items-center
          justify-center
          rounded-full
          bg-muted-100
          dark:bg-muted-800
        "
      >
        <i
          class="iconify w-5 h-5 ptablet:w-5 ptablet:h-5"
          data-icon="logos:evergreen-icon"
        ></i>
      </div>
      <div>
        <h5
          class="
            font-sans
            text-base
            font-medium
            leading-none
            text-muted-500
            dark:text-muted-300
          "
        >
          Evergreen
        </h5>
        <p class="font-sans text-sm text-muted-400">Software company</p>
      </div>
    </div>
  </div>
  <!--Grid item-->
  <div
    class="
      p-5
      rounded-lg
      bg-white
      dark:bg-muted-1000
      border border-muted-200
      dark:border-muted-800
    "
  >
    <div class="flex items-center gap-2">
      <div
        class="
          h-14
          w-14
          ptablet:h-12 ptablet:w-12
          flex
          items-center
          justify-center
          rounded-full
          bg-muted-100
          dark:bg-muted-800
        "
      >
        <i
          class="iconify w-5 h-5 ptablet:w-5 ptablet:h-5"
          data-icon="logos:figma"
        ></i>
      </div>
      <div>
        <h5
          class="
            font-sans
            text-base
            font-medium
            leading-none
            text-muted-500
            dark:text-muted-300
          "
        >
          Figma
        </h5>
        <p class="font-sans text-sm text-muted-400">Software company</p>
      </div>
    </div>
  </div>
  <!--Grid item-->
  <div
    class="
      p-5
      rounded-lg
      bg-white
      dark:bg-muted-1000
      border border-muted-200
      dark:border-muted-800
    "
  >
    <div class="flex items-center gap-2">
      <div
        class="
          h-14
          w-14
          ptablet:h-12 ptablet:w-12
          flex
          items-center
          justify-center
          rounded-full
          bg-muted-100
          dark:bg-muted-800
        "
      >
        <i
          class="iconify w-6 h-6 ptablet:w-5 ptablet:h-5 text-amber-500"
          data-icon="fa:amazon"
        ></i>
      </div>
      <div>
        <h5
          class="
            font-sans
            text-base
            font-medium
            leading-none
            text-muted-500
            dark:text-muted-300
          "
        >
          Amazon
        </h5>
        <p class="font-sans text-sm text-muted-400">Commerce company</p>
      </div>
    </div>
  </div>
  <!--Grid item-->
  <div
    class="
      p-5
      rounded-lg
      bg-white
      dark:bg-muted-1000
      border border-muted-200
      dark:border-muted-800
    "
  >
    <div class="flex items-center gap-2">
      <div
        class="
          h-14
          w-14
          ptablet:h-12 ptablet:w-12
          flex
          items-center
          justify-center
          rounded-full
          bg-muted-100
          dark:bg-muted-800
        "
      >
        <i
          class="iconify w-6 h-6 ptablet:w-5 ptablet:h-5"
          data-icon="logos:gitlab"
        ></i>
      </div>
      <div>
        <h5
          class="
            font-sans
            text-base
            font-medium
            leading-none
            text-muted-500
            dark:text-muted-300
          "
        >
          Gitlab
        </h5>
        <p class="font-sans text-sm text-muted-400">Software company</p>
      </div>
    </div>
  </div>
</div>
