<div class="mt-7 overflow-x-auto">
  <table class="w-full whitespace-nowrap">
    <thead>
      <th
        class="
          md:w-1/5
          font-sans
          text-xs
          font-semibold
          text-left
          pb-3
          px-4
          text-muted-400
          dark:text-muted-300
        "
      >
        <span>Created</span>
      </th>
      <th
        class="
          md:w-2/5
          font-sans
          text-xs
          font-semibold
          text-left
          pb-3
          px-4
          text-muted-400
          dark:text-muted-300
        "
      >
        <span>Contact</span>
      </th>
      <th
        class="
          font-sans
          text-xs
          font-semibold
          text-left
          pb-3
          px-4
          text-muted-400
          dark:text-muted-300
        "
      >
        <span>Amount</span>
      </th>
      <th
        class="
          font-sans
          text-xs
          font-semibold
          text-left
          pb-3
          px-4
          text-muted-400
          dark:text-muted-300
        "
      >
        <span>Account</span>
      </th>
      <th
        class="
          font-sans
          text-xs
          font-semibold
          text-left
          pb-3
          px-4
          text-muted-400
          dark:text-muted-300
        "
      >
        <span>Status</span>
      </th>
      <th
        class="
          font-sans
          text-xs
          font-semibold
          text-left
          pb-3
          px-4
          text-muted-400
          dark:text-muted-300
        "
      >
        <span>Actions</span>
      </th>
    </thead>
    <tbody>
      <!--Row-->
      <tr tabindex="0">
        <td class="py-2 px-4">
          <span
            class="
              font-sans
              text-sm
              font-medium
              leading-none
              text-muted-500
              dark:text-muted-300
            "
          >
            Sep 15, 2022
          </span>
        </td>
        <td class="py-2 px-4">
          <div class="flex items-center gap-2 mr-5 md:mr-0">
            <img
              src="/img/avatars/55.jpg"
              class="w-7 h-7 object-cover rounded-full"
              alt="Recepient image"
              width="28"
              height="28"
            />
            <span
              class="
                font-sm
                text-sm
                font-medium
                leading-none
                text-muted-500
                dark:text-muted-300
              "
            >
              Armando D.
            </span>
          </div>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              font-sans
              text-base
              font-medium
              leading-none
              text-muted-800
              dark:text-muted-100
            "
          >
            $575.00
          </span>
        </td>
        <td class="py-2 px-4">
          <span
            class="font-sans text-sm font-medium leading-none text-muted-400"
          >
            xxx4565494
          </span>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              inline-block
              font-sans
              text-xs
              py-1.5
              px-3
              m-1
              rounded-full
              bg-info-100
              dark:bg-info-500/10
              text-info-500
            "
          >
            Sent
          </span>
        </td>
        <td class="py-2 px-4 text-right">
          <a
            class="
              inline-block
              font-sans
              text-xs
              font-semibold
              text-muted-400
              dark:text-muted-500
              hover:text-primary-500
              dark:hover:text-primary-500
              transition-colors
              duration-300
              cursor-pointer
            "
          >
            Cancel
          </a>
        </td>
      </tr>
      <!--Row-->
      <tr tabindex="0">
        <td class="py-2 px-4">
          <span
            class="
              font-sans
              text-sm
              font-medium
              leading-none
              text-muted-500
              dark:text-muted-300
            "
          >
            Sep 5, 2022
          </span>
        </td>
        <td class="py-2 px-4">
          <div class="flex items-center gap-2 mr-5 md:mr-0">
            <img
              src="/img/avatars/29.jpg"
              class="w-7 h-7 object-cover rounded-full"
              alt="Recepient image"
              width="28"
              height="28"
            />
            <span
              class="
                font-sm
                text-sm
                font-medium
                leading-none
                text-muted-500
                dark:text-muted-300
              "
            >
              Christina C.
            </span>
          </div>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              font-sans
              text-base
              font-medium
              leading-none
              text-muted-800
              dark:text-muted-100
            "
          >
            $1300.00
          </span>
        </td>
        <td class="py-2 px-4">
          <span
            class="font-sans text-sm font-medium leading-none text-muted-400"
          >
            xxx4565494
          </span>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              inline-block
              font-sans
              text-xs
              py-1.5
              px-3
              m-1
              rounded-full
              bg-primary-100
              dark:bg-primary-500/10
              text-primary-500
            "
          >
            Opened
          </span>
        </td>
        <td class="py-2 px-4 text-right">
          <a
            class="
              inline-block
              font-sans
              text-xs
              font-semibold
              text-muted-400
              dark:text-muted-500
              hover:text-primary-500
              dark:hover:text-primary-500
              transition-colors
              duration-300
              cursor-pointer
            "
          >
            Cancel
          </a>
        </td>
      </tr>
      <!--Row-->
      <tr tabindex="0">
        <td class="py-2 px-4">
          <span
            class="
              font-sans
              text-sm
              font-medium
              leading-none
              text-muted-500
              dark:text-muted-300
            "
          >
            Sep 2, 2022
          </span>
        </td>
        <td class="py-2 px-4">
          <div class="flex items-center gap-2 mr-5 md:mr-0">
            <img
              src="/img/avatars/21.jpg"
              class="w-7 h-7 object-cover rounded-full"
              alt="Recepient image"
              width="28"
              height="28"
            />
            <span
              class="
                font-sm
                text-sm
                font-medium
                leading-none
                text-muted-500
                dark:text-muted-300
              "
            >
              Melany F.
            </span>
          </div>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              font-sans
              text-base
              font-medium
              leading-none
              text-muted-800
              dark:text-muted-100
            "
          >
            $280.00
          </span>
        </td>
        <td class="py-2 px-4">
          <span
            class="font-sans text-sm font-medium leading-none text-muted-400"
          >
            xxx4565494
          </span>
        </td>
        <td class="py-2 px-4">
          <span
            class="
              inline-block
              font-sans
              text-xs
              py-1.5
              px-3
              m-1
              rounded-full
              bg-success-100
              dark:bg-success-500/10
              text-success-500
            "
          >
            in Progress
          </span>
        </td>
        <td class="py-2 px-4 text-right">
          <a
            class="
              inline-block
              font-sans
              text-xs
              font-semibold
              text-muted-400
              dark:text-muted-500
              hover:text-primary-500
              dark:hover:text-primary-500
              transition-colors
              duration-300
              cursor-pointer
            "
          >
            Cancel
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
