<!--Step 6-->
<div x-show="currentStep === 5" class="w-full">
  <!--Review section-->
  <div x-show="!isComplete">
    <h2
      class="
        font-heading
        text-2xl
        md:text-3xl
        text-muted-800
        dark:text-white
        mb-10
      "
    >
      Review and send
    </h2>

    <div class="w-full max-w-md space-y-6">
      <!--Numbers-->
      <div class="flex items-end justify-between pb-4">
        <!--Amount-->
        <div class="flex-1">
          <p class="font-heading text-xs text-muted-400 mb-1">
            Transfer amount
          </p>
          <h3
            class="
              font-heading font-medium
              text-3xl text-muted-800
              dark:text-muted-100
            "
          >
            $
            <span x-text="formatAmount()"></span>
          </h3>
        </div>
        <!--Amount-->
        <div class="flex-1 text-right">
          <p class="font-heading text-xs text-muted-400 mb-1">Routing number</p>
          <h3
            class="
              font-heading font-medium
              text-sm text-muted-800
              dark:text-muted-100
            "
          >
            <span x-text="routingNumber"></span>
          </h3>
        </div>
      </div>

      <!--Recipient-->
      <div>
        <p class="font-heading text-xs text-muted-400 mb-1">Recipient</p>

        <div class="w-full flex gap-6 py-4">
          <div
            class="
              w-12
              h-12
              flex
              items-center
              justify-center
              rounded-full
              bg-muted-200
            "
          >
            <iconify-icon class="iconify w-7 h-7 text-muted-400 flex items-center justify-center text-2xl" icon="ph:user-duotone"></iconify-icon>
          </div>
          <div>
            <h4
              class="font-heading text-muted-700 dark:text-muted-100 mb-1"
              x-text="recipient"
            >
              John Doe
            </h4>
            <p
              class="font-heading text-xs text-muted-500 dark:text-muted-400"
              x-text="addressMain"
            >
              Some line address
            </p>
            <p
              class="font-heading text-xs text-muted-500 dark:text-muted-400"
              x-text="addressSub"
            >
              Some line address
            </p>
            <p class="font-heading text-xs text-muted-500 dark:text-muted-400">
              <span x-text="postalCode">15000</span>
              ,
              <span x-text="city">San Diego</span>
              <span x-text="state">CS</span>
            </p>
            <p class="font-heading text-xs text-muted-500 dark:text-muted-400">
              <span x-text="country">USA</span>
            </p>
          </div>
        </div>
      </div>

      <!--Amount-->
      <div>
        <p class="font-heading text-xs text-muted-400 mb-1">Transfer from</p>
        <div
          class="
            w-full
            p-4
            bg-white
            dark:bg-muted-1000
            rounded-xl
            border border-muted-200
            dark:border-muted-800
          "
        >
          <div class="w-full flex items-center gap-3 text-left">
            <img
              src="/img/logo/logo-square-outline.svg"
              class="w-8 h-8 dark:invert"
              alt="App logo"
              width="48"
              height="48"
            />
            <div>
              <span
                class="
                  block
                  font-heading
                  text-sm text-muted-800
                  dark:text-muted-200
                "
              >
                checking xxx4869
              </span>
              <span
                class="
                  block
                  font-heading
                  text-xs text-muted-500
                  dark:text-muted-400
                "
              >
                $9,384.21
              </span>
            </div>
            <div class="ml-auto pr-4">
              <span
                class="
                  block
                  font-heading
                  text-xs text-muted-800
                  dark:text-muted-200
                "
              >
                Payment Method
              </span>
              <span
                class="
                  block
                  font-heading
                  text-xs text-muted-500
                  dark:text-muted-400
                "
                x-text="paymentMethod"
              ></span>
            </div>
          </div>
        </div>
      </div>

      <!--Buttons-->
      <div class="flex gap-4">
        <button
          type="button"
          class="
            w-full
            h-12
            inline-flex
            justify-center
            items-center
            rounded-md
            px-4
            py-2
            font-heading
            text-sm text-muted-600
            hover:text-muted-700
            dark:text-muted-400 dark:hover:text-muted-100
            bg-muted-100
            hover:bg-muted-200
            dark:bg-muted-800 dark:hover:bg-muted-700
            transition-colors
            duration-300
          "
          @click="prevStep()"
        >
          Previous
        </button>
        <button
          type="button"
          class="
            w-full
            h-12
            inline-flex
            justify-center
            items-center
            rounded-md
            px-4
            py-2
            font-heading
            text-white text-sm
            bg-primary-500
          "
          :class="isLoading ? 'button-loading' : ''"
          @click="sendRequest()"
        >
          Send Payment
        </button>
      </div>
    </div>
  </div>

  <!--Success section-->
  <div x-show="isComplete">{{> page/payments-send/payments-step-success}}</div>
</div>
