<div
  class="
    h-full
    py-16
    px-10
    bg-white
    dark:bg-muted-1000
    rounded-xl
    border border-muted-200
    dark:border-muted-800
    shadow-xl shadow-muted-400/10
    dark:shadow-muted-800/10
  "
>
  <div class="h-full flex flex-col justify-between gap-7">
    <h4 class="font-heading font-semibold text-sm uppercase text-muted-400">
      Money in last 30 days
    </h4>

    <div>
      <span
        class="
          font-sans font-medium
          text-4xl text-muted-800
          dark:text-white
          before:content-['$'] before:text-xl
        "
      >
        0.00
      </span>
    </div>

    <div class="space-y-1">
      <p class="font-sans text-muted-500">No incoming transactions yet</p>
      <div class="w-full h-1 bg-muted-200 dark:bg-muted-800"></div>
    </div>
    <div class="mt-2 text-right">
      <a
        href="#"
        class="
          group
          inline-flex
          items-center
          gap-3
          text-primary-500
          hover:text-primary-400
          transition-colors
          duration-300
        "
      >
        <span class="font-sans font-medium text-base">View all</span>
        <i
          class="
            iconify
            w-4
            h-4
            group-hover:translate-x-1
            transition-transform
            duration-300
          "
          data-icon="lucide:arrow-right"
        ></i>
      </a>
    </div>
  </div>
</div>
