<div
  x-show="currentStep === 1"
  class="w-full flex flex-col md:flex-row items-center"
>
  <!--Column-->
  <div class="w-full md:w-1/2">
    <div class="max-w-md space-y-3 p-4">
      <h2
        class="font-heading font-bold text-3xl text-muted-800 dark:text-white"
      >
        Fill in the form.
      </h2>
      <p class="font-sans text-muted-500 dark:text-muted-400">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut optime,
        secundum naturam affectum esse possit.
      </p>
      <!--Form-->
      <form class="space-y-4 pb-6">
        <!--Field-->
        <div class="relative">
          <label class="font-alt text-sm text-slate-400">Full Name</label>
          <div class="group relative w-full rounded-md shadow-sm">
            <input
              class="
                w-full
                h-10
                dark:bg-muted-1000
                rounded-md
                border border-muted-300
                bg-white
                text-muted-600
                placeholder-gray-300
                focus:border-muted-300 focus:shadow-lg
                dark:placeholder-gray-600
                dark:bg-muted-900
                dark:text-muted-200
                dark:border-muted-800
                dark:focus:border-muted-800
                pl-10
                pr-4
                py-2
                transition-all
                duration-300
                tw-accessibility
              "
              placeholder="Your complete name"
              type="text"
            />
            <button
              type="button"
              class="
                absolute
                top-0
                left-0
                h-10
                w-10
                flex
                justify-center
                items-center
                text-muted-400
                dark:text-muted-600
                group-focus-within:text-primary-500
                transition-colors
                duration-300
                cursor-pointer
              "
            >
              <i class="iconify w-4 h-4" data-icon="lucide:user"></i>
            </button>
          </div>
        </div>
        <!--Field group-->
        <div class="grid md:grid-cols-2 gap-4">
          <!--Field-->
          <div class="relative">
            <label class="font-alt text-sm text-slate-400">
              Requested amount
            </label>
            <div class="relative group">
              <select
                title="select"
                class="
                  appearance-none
                  px-3
                  py-2
                  h-10
                  text-sm
                  leading-5
                  font-sans
                  w-full
                  rounded-md
                  border border-muted-300
                  bg-white
                  text-muted-600
                  placeholder-gray-300
                  focus:border-muted-300 focus:shadow-lg
                  dark:placeholder-gray-600
                  dark:bg-muted-900
                  dark:text-muted-200
                  dark:border-muted-800
                  dark:focus:border-muted-800
                  tw-accessibility
                  transition-all
                  duration-300
                "
              >
                <option>Select a range</option>
                <option>From $5k to $20k</option>
                <option>From $20k to $50k</option>
                <option>From $50k to $100k</option>
                <option>From $100k to $500k</option>
                <option>From $500k to $1M</option>
                <option>Starting from $1M</option>
              </select>
              <div
                class="
                  absolute
                  top-0
                  right-0
                  h-10
                  w-10
                  flex
                  justify-center
                  items-center
                  text-muted-400
                  transition-transform
                  duration-300
                  group-focus-within:-rotate-180
                "
              >
                <i class="iconify w-4 h-4" data-icon="lucide:chevron-down"></i>
              </div>
            </div>
          </div>
          <!--Field-->
          <div class="relative">
            <label class="font-alt text-sm text-slate-400">
              Requested duration
            </label>
            <div class="relative group">
              <select
                title="select"
                class="
                  appearance-none
                  px-3
                  py-2
                  h-10
                  text-sm
                  leading-5
                  font-sans
                  w-full
                  rounded-md
                  border border-muted-300
                  bg-white
                  text-muted-600
                  placeholder-gray-300
                  focus:border-muted-300 focus:shadow-lg
                  dark:placeholder-gray-600
                  dark:bg-muted-900
                  dark:text-muted-200
                  dark:border-muted-800
                  dark:focus:border-muted-800
                  tw-accessibility
                  transition-all
                  duration-300
                "
              >
                <option>Select a range</option>
                <option>5 years</option>
                <option>10 years</option>
                <option>15 years</option>
                <option>20 years</option>
                <option>25 years</option>
              </select>
              <div
                class="
                  absolute
                  top-0
                  right-0
                  h-10
                  w-10
                  flex
                  justify-center
                  items-center
                  text-muted-400
                  transition-transform
                  duration-300
                  group-focus-within:-rotate-180
                "
              >
                <i class="iconify w-4 h-4" data-icon="lucide:chevron-down"></i>
              </div>
            </div>
          </div>
        </div>
      </form>

      <!--Buttons-->
      <div class="flex gap-2">
        <button
          class="
            h-10
            w-32
            inline-flex
            justify-center
            items-center
            gap-x-2
            px-6
            py-2
            font-sans
            text-sm text-primary-500
            bg-transparent
            hover:bg-muted-100
            dark:hover:bg-muted-800
            rounded-full
            tw-accessibility
            transition-all
            duration-300
          "
          @click="prevStep()"
        >
          <span>Previous</span>
        </button>
        <button
          class="
            h-10
            w-32
            inline-flex
            justify-center
            items-center
            gap-x-2
            px-6
            py-2
            font-sans
            text-sm text-white
            bg-primary-500
            rounded-full
            shadow-lg shadow-primary-500/20
            hover:shadow-xl
            tw-accessibility
            transition-all
            duration-300
          "
          @click="nextStep()"
        >
          <span>Continue</span>
        </button>
      </div>
    </div>
  </div>
  <!--Column-->
  <div class="w-full md:w-1/2">
    <div class="max-w-sm mx-auto text-primary-500">
      {{> vector/illustrations/transaction}}
    </div>
  </div>
</div>
