<ul class="max-w-2xl">
  <!--Header-->
  <li>
    <div
      class="
        w-full
        max-w-2xl
        flex
        gap-x-4
        py-2
        border-b border-muted-200
        dark:border-muted-800
        px-3
      "
    >
      <div class="w-3/5">
        <span class="font-heading text-xs text-muted-400 mb-1">Account</span>
      </div>
      <div class="w-1/5">
        <span class="font-heading text-xs text-muted-400 mb-1">Balance</span>
      </div>
      <div class="hidden md:w-1/5">
        <span class="font-heading text-xs text-muted-400 mb-1">
          Transfer rules
        </span>
      </div>
    </div>
  </li>
  <!--Account item-->
  <li
    class="
      hover:bg-muted-100
      dark:hover:bg-muted-800
      transition-colors
      duration-300
      cursor-pointer
      px-3
    "
    @click="$store.app.isAccountPanelOpen = true"
  >
    <div
      class="
        w-full
        max-w-2xl
        flex
        items-center
        gap-x-4
        py-4
        border-b border-muted-200
        dark:border-muted-800
      "
    >
      <div class="w-3/5">
        <div class="w-full flex items-center gap-3">
          <img
            src="/img/logo/logo-square-outline.svg"
            class="w-8 h-8 dark:invert"
            alt="App logo"
            width="48"
            height="48"
          />
          <span class="font-heading text-sm text-muted-800 dark:text-muted-200">
            checking xxx4897
          </span>
        </div>
      </div>
      <div class="w-1/5">
        <span class="font-heading text-muted-800 dark:text-muted-200">
          $9,543.12
        </span>
      </div>
      <div class="hidden md:w-1/5">
        <button
          type="button"
          class="
            flex
            items-center
            gap-2
            py-2
            px-4
            text-sm
            rounded-full
            text-muted-800
            dark:text-muted-200
            hover:text-primary-500 hover:bg-primary-500/10
            transition-colors
            duration-300
            click-blur
          "
          data-tab="tab-3"
          @click="toggle($event)"
        >
          <iconify-icon class="iconify w-4 h-4" icon="lucide:edit"></iconify-icon>
          <span class="font-heading text-sm">New rule</span>
        </button>
      </div>
    </div>
  </li>
  <!--Account item-->
  <li
    class="
      hover:bg-muted-100
      dark:hover:bg-muted-800
      transition-colors
      duration-300
      cursor-pointer
      px-3
    "
    @click="$store.app.isAccountPanelOpen = true"
  >
    <div
      class="
        w-full
        max-w-2xl
        flex
        items-center
        gap-x-4
        py-4
        border-b border-muted-200
        dark:border-muted-800
      "
    >
      <div class="w-3/5">
        <div class="w-full flex items-center gap-3">
          <img
            src="/img/logo/logo-square-outline.svg"
            class="w-8 h-8 dark:invert"
            alt="App logo"
            width="48"
            height="48"
          />
          <span class="font-heading text-sm text-muted-800 dark:text-muted-200">
            checking xxx4869
          </span>
        </div>
      </div>
      <div class="w-1/5">
        <span class="font-heading text-muted-800 dark:text-muted-200">
          $1,211.67
        </span>
      </div>
      <div class="hidden md:w-1/5">
        <button
          type="button"
          class="
            flex
            items-center
            gap-2
            py-2
            px-4
            text-sm
            rounded-full
            text-muted-800
            dark:text-muted-200
            hover:text-primary-500 hover:bg-primary-500/10
            transition-colors
            duration-300
            click-blur
          "
          data-tab="tab-3"
          @click="toggle($event)"
        >
          <iconify-icon class="iconify w-4 h-4" icon="lucide:edit"></iconify-icon>
          <span class="font-heading text-sm">New rule</span>
        </button>
      </div>
    </div>
  </li>
  <!--Account item-->
  <li
    class="
      hover:bg-muted-100
      dark:hover:bg-muted-800
      transition-colors
      duration-300
      cursor-pointer
      px-3
    "
    @click="$store.app.isAccountPanelOpen = true"
  >
    <div
      class="
        w-full
        max-w-2xl
        flex
        items-center
        gap-x-4
        py-4
        border-b border-muted-200
        dark:border-muted-800
      "
    >
      <div class="w-3/5">
        <div class="w-full flex items-center gap-3">
          <img
            src="/img/logo/logo-square-outline.svg"
            class="w-8 h-8 dark:invert"
            alt="App logo"
            width="48"
            height="48"
          />
          <span class="font-heading text-sm text-muted-800 dark:text-muted-200">
            saving xxx6729
          </span>
        </div>
      </div>
      <div class="w-1/5">
        <span class="font-heading text-muted-800 dark:text-muted-200">
          $4,634.43
        </span>
      </div>
      <div class="hidden md:w-1/5">
        <button
          type="button"
          class="
            flex
            items-center
            gap-2
            py-2
            px-4
            text-sm
            rounded-full
            text-muted-800
            dark:text-muted-200
            hover:text-primary-500 hover:bg-primary-500/10
            transition-colors
            duration-300
            click-blur
          "
          data-tab="tab-3"
          @click="toggle($event)"
        >
          <iconify-icon class="iconify w-4 h-4" icon="lucide:edit"></iconify-icon>
          <span class="font-heading text-sm">New rule</span>
        </button>
      </div>
    </div>
  </li>
  <!--Add account-->
  <li
    class="
      hover:bg-muted-100
      dark:hover:bg-muted-800
      transition-colors
      duration-300
      cursor-pointer
      px-3
    "
  >
    <div
      class="
        group
        w-full
        flex
        items-center
        gap-x-4
        py-4
        border-b border-muted-200
        dark:border-muted-800
      "
    >
      <div class="w-3/5">
        <div class="w-full flex items-center gap-3">
          <div
            class="
              w-8
              h-8
              flex
              items-center
              justify-center
              rounded-full
              text-muted-500
              bg-muted-100
              dark:bg-muted-800
              group-hover:bg-primary-500 group-hover:text-white
              transition-colors
              duration-300
            "
          >
            <iconify-icon class="iconify w-4 h-4" icon="lucide:plus"></iconify-icon>
          </div>
          <span
            class="
              font-heading
              text-sm text-muted-400
              dark:text-muted-500
              group-hover:text-muted-600
              dark:group-hover:text-muted-200
            "
          >
            Add an account
          </span>
        </div>
      </div>
    </div>
  </li>
</ul>
