<div
  x-show="activeTab === 'tab-1'"
  class="py-6 space-y-10 divide-muted-200 dark:divide-muted-800"
>
  <!--Statements-->
  <div class="grid md:grid-cols-12 gap-8">
    <!--Column-->
    <div class="md:col-span-4">
      <h3
        class="font-heading font-medium mb-1 text-muted-800 dark:text-muted-100"
      >
        About you
      </h3>
      <p class="font-heading text-sm text-muted-500 dark:text-muted-400">
        Some basic information that we need to know about you, and to process
        legal matters.
      </p>
    </div>
    <!--Column-->
    <div class="md:col-span-8">
      <h3
        class="
          font-heading
          text-xs
          pb-4
          px-4
          border-b border-muted-200
          dark:border-muted-800
          text-muted-800
          dark:text-muted-100
        "
      >
        Your info
      </h3>
      <div
        class="flex flex-col divide-y divide-muted-200 dark:divide-muted-800"
      >
        <!--Item-->
        <div class="group">
          <a
            href="#"
            class="
              flex
              items-center
              gap-4
              font-heading
              text-sm
              p-4
              text-muted-600
              dark:text-muted-400
              hover:bg-muted-100
              dark:hover:bg-muted-800
              transition-colors
              duration-300
            "
          >
            <div>
              <h3 class="font-heading text-xs text-muted-400">Email address</h3>
              <span>maracal86@gmail.com</span>
            </div>

            <i class="iconify w-4 h-4" data-icon="lucide:edit"></i>
            <span
              class="
                font-medium
                text-primary-500
                opacity-0
                group-hover:opacity-100
                transition-opacity
                duration-300
              "
            >
              Edit
            </span>
          </a>
        </div>
        <!--Item-->
        <div class="group">
          <a
            href="#"
            class="
              flex
              items-center
              gap-4
              font-heading
              text-sm
              p-4
              text-muted-600
              dark:text-muted-400
              hover:bg-muted-100
              dark:hover:bg-muted-800
              transition-colors
              duration-300
            "
          >
            <div>
              <h3 class="font-heading text-xs text-muted-400">
                Preferred name
              </h3>
              <span>Mara Callaway</span>
            </div>

            <i class="iconify w-4 h-4" data-icon="lucide:edit"></i>
            <span
              class="
                font-medium
                text-primary-500
                opacity-0
                group-hover:opacity-100
                transition-opacity
                duration-300
              "
            >
              Edit
            </span>
          </a>
        </div>
        <!--Item-->
        <div class="group">
          <a
            href="#"
            class="
              flex
              items-center
              gap-4
              font-heading
              text-sm
              p-4
              text-muted-600
              dark:text-muted-400
              hover:bg-muted-100
              dark:hover:bg-muted-800
              transition-colors
              duration-300
            "
          >
            <div>
              <h3 class="font-heading text-xs text-muted-400">Legal name</h3>
              <span>Mara Callaway</span>
            </div>

            <i class="iconify w-4 h-4" data-icon="lucide:edit"></i>
            <span
              class="
                font-medium
                text-primary-500
                opacity-0
                group-hover:opacity-100
                transition-opacity
                duration-300
              "
            >
              Edit
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--Documents-->
  <div class="grid md:grid-cols-12 gap-8">
    <!--Column-->
    <div class="md:col-span-4">
      <h3
        class="font-heading font-medium mb-1 text-muted-800 dark:text-muted-100"
      >
        Additional info
      </h3>
      <p class="font-heading text-sm text-muted-500 dark:text-muted-400">
        Some useful information that we could need to reach out to you or for a
        few checks.
      </p>
    </div>
    <!--Column-->
    <div class="md:col-span-8">
      <h3
        class="
          font-heading
          text-xs
          pb-4
          px-4
          border-b border-muted-200
          dark:border-muted-800
          text-muted-800
          dark:text-muted-100
        "
      >
        Additional info
      </h3>
      <div
        class="flex flex-col divide-y divide-muted-200 dark:divide-muted-800"
      >
        <!--Item-->
        <div class="group">
          <a
            href="#"
            class="
              flex
              items-center
              gap-4
              font-heading
              text-sm
              p-4
              text-muted-600
              dark:text-muted-400
              hover:bg-muted-100
              dark:hover:bg-muted-800
              transition-colors
              duration-300
            "
          >
            <div>
              <h3 class="font-heading text-xs text-muted-400">Date of birth</h3>
              <span>08/23/1986</span>
            </div>

            <i class="iconify w-4 h-4" data-icon="lucide:edit"></i>
            <span
              class="
                font-medium
                text-primary-500
                opacity-0
                group-hover:opacity-100
                transition-opacity
                duration-300
              "
            >
              Edit
            </span>
          </a>
        </div>
        <!--Item-->
        <!--Item-->
        <div class="group">
          <a
            href="#"
            class="
              flex
              items-center
              gap-4
              font-heading
              text-sm
              p-4
              text-muted-600
              dark:text-muted-400
              hover:bg-muted-100
              dark:hover:bg-muted-800
              transition-colors
              duration-300
            "
          >
            <div>
              <h3 class="font-heading text-xs text-muted-400">Phone number</h3>
              <span>+1 559 454 15</span>
            </div>

            <i class="iconify w-4 h-4" data-icon="lucide:edit"></i>
            <span
              class="
                font-medium
                text-primary-500
                opacity-0
                group-hover:opacity-100
                transition-opacity
                duration-300
              "
            >
              Edit
            </span>
          </a>
        </div>
        <!--Item-->
        <div class="group">
          <a
            href="#"
            class="
              flex
              items-center
              gap-4
              font-heading
              text-sm
              p-4
              text-muted-600
              dark:text-muted-400
              hover:bg-muted-100
              dark:hover:bg-muted-800
              transition-colors
              duration-300
            "
          >
            <div>
              <h3 class="font-heading text-xs text-muted-400">Address</h3>
              <p>47, Victorian Av.</p>
              <p>Suite G3, New York, NY</p>
            </div>

            <i class="iconify w-4 h-4" data-icon="lucide:edit"></i>
            <span
              class="
                font-medium
                text-primary-500
                opacity-0
                group-hover:opacity-100
                transition-opacity
                duration-300
              "
            >
              Edit
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
