<div
  x-show="activeTab === 'tab-2'"
  class="py-6 space-y-10 divide-muted-200 dark:divide-muted-800"
>
  <!--Statements-->
  <div class="grid md:grid-cols-12 gap-8">
    <!--Column-->
    <div class="md:col-span-4">
      <h3
        class="font-heading font-medium mb-1 text-muted-800 dark:text-muted-100"
      >
        Account
      </h3>
      <p class="font-heading text-sm text-muted-500 dark:text-muted-400">
        Set a unique password to protect your account. Don't forget to change it
        from time to time.
      </p>
    </div>
    <!--Column-->
    <div class="md:col-span-8">
      <h3
        class="
          font-heading
          text-xs
          pb-4
          px-4
          border-b border-muted-200
          dark:border-muted-800
          text-muted-800
          dark:text-muted-100
        "
      >
        Account info
      </h3>
      <div
        class="flex flex-col divide-y divide-muted-200 dark:divide-muted-800"
      >
        <!--Item-->
        <div class="group">
          <a
            href="#"
            class="
              flex
              items-center
              gap-4
              font-heading
              text-sm
              p-4
              text-muted-600
              dark:text-muted-400
              hover:bg-muted-100
              dark:hover:bg-muted-800
              transition-colors
              duration-300
            "
          >
            <div>
              <h3 class="font-heading text-xs text-muted-400">Password</h3>
              <span>Change password</span>
            </div>

            <i class="iconify w-4 h-4" data-icon="lucide:edit"></i>
            <span
              class="
                font-medium
                text-primary-500
                opacity-0
                group-hover:opacity-100
                transition-opacity
                duration-300
              "
            >
              Edit
            </span>
          </a>
        </div>
        <!--Item-->
        <div class="group">
          <a
            href="#"
            class="
              flex
              items-center
              gap-4
              font-heading
              text-sm
              p-4
              text-muted-600
              dark:text-muted-400
              hover:bg-muted-100
              dark:hover:bg-muted-800
              transition-colors
              duration-300
            "
          >
            <div>
              <h3 class="font-heading text-xs text-muted-400">Backup codes</h3>
              <span>Generate codes</span>
            </div>

            <i class="iconify w-4 h-4" data-icon="lucide:edit"></i>
            <span
              class="
                font-medium
                text-primary-500
                opacity-0
                group-hover:opacity-100
                transition-opacity
                duration-300
              "
            >
              Edit
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--2 Factor-->
  <div class="grid md:grid-cols-12 gap-8">
    <!--Column-->
    <div class="md:col-span-4">
      <h3
        class="font-heading font-medium mb-1 text-muted-800 dark:text-muted-100"
      >
        2 Factor
      </h3>
      <p class="font-heading text-sm text-muted-500 dark:text-muted-400">
        Reset or edit the authentication method (e.g. Authy or Google
        Authenticator) for this account.
      </p>
    </div>
    <!--Column-->
    <div class="md:col-span-8">
      <h3
        class="
          font-heading
          text-xs
          pb-4
          px-4
          border-b border-muted-200
          dark:border-muted-800
          text-muted-800
          dark:text-muted-100
        "
      >
        2 Factor
      </h3>
      <div
        class="flex flex-col divide-y divide-muted-200 dark:divide-muted-800"
      >
        <!--Item-->
        <div class="group">
          <a
            href="#"
            class="
              flex
              items-center
              gap-4
              font-heading
              text-sm
              p-4
              text-muted-600
              dark:text-muted-400
              hover:bg-muted-100
              dark:hover:bg-muted-800
              transition-colors
              duration-300
            "
          >
            <div>
              <h3 class="font-heading text-xs text-muted-400">Setup</h3>
              <span>Setup 2 factor</span>
            </div>

            <i class="iconify w-4 h-4" data-icon="lucide:edit"></i>
            <span
              class="
                font-medium
                text-primary-500
                opacity-0
                group-hover:opacity-100
                transition-opacity
                duration-300
              "
            >
              Edit
            </span>
          </a>
        </div>
        <!--Item-->
        <div class="group">
          <a
            href="#"
            class="
              flex
              items-center
              gap-4
              font-heading
              text-sm
              p-4
              text-muted-600
              dark:text-muted-400
              hover:bg-muted-100
              dark:hover:bg-muted-800
              transition-colors
              duration-300
            "
          >
            <div>
              <h3 class="font-heading text-xs text-muted-400">Key</h3>
              <span>Setup key</span>
            </div>

            <i class="iconify w-4 h-4" data-icon="lucide:edit"></i>
            <span
              class="
                font-medium
                text-primary-500
                opacity-0
                group-hover:opacity-100
                transition-opacity
                duration-300
              "
            >
              Edit
            </span>
          </a>
        </div>
        <!--Item-->
        <div class="group">
          <a
            href="#"
            class="
              flex
              items-center
              gap-4
              font-heading
              text-sm
              p-4
              text-muted-600
              dark:text-muted-400
              hover:bg-muted-100
              dark:hover:bg-muted-800
              transition-colors
              duration-300
            "
          >
            <div>
              <h3 class="font-heading text-xs text-muted-400">Phone</h3>
              <span>Phone number</span>
            </div>

            <i class="iconify w-4 h-4" data-icon="lucide:edit"></i>
            <span
              class="
                font-medium
                text-primary-500
                opacity-0
                group-hover:opacity-100
                transition-opacity
                duration-300
              "
            >
              Edit
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--Notifications-->
  <div class="grid md:grid-cols-12 gap-8">
    <!--Column-->
    <div class="md:col-span-4">
      <h3
        class="font-heading font-medium mb-1 text-muted-800 dark:text-muted-100"
      >
        Security notifications
      </h3>
      <p class="font-heading text-sm text-muted-500 dark:text-muted-400">
        Some notifications are essential when looking at your account security.
        Stay safe!
      </p>
    </div>
    <!--Column-->
    <div class="md:col-span-8">
      <h3
        class="
          font-heading
          text-xs
          pb-4
          px-4
          border-b border-muted-200
          dark:border-muted-800
          text-muted-800
          dark:text-muted-100
        "
      >
        Notifications
      </h3>
      <div
        class="flex flex-col divide-y divide-muted-200 dark:divide-muted-800"
      >
        <!--Item-->
        <div class="group">
          <a
            href="#"
            class="
              flex
              items-center
              gap-4
              font-heading
              text-sm
              p-4
              text-muted-600
              dark:text-muted-400
              hover:bg-muted-100
              dark:hover:bg-muted-800
              transition-colors
              duration-300
            "
          >
            <label
              for="switch-thin-7"
              class="flex items-center gap-4 cursor-pointer"
            >
              <span class="block relative h-4">
                <input
                  id="switch-thin-7"
                  type="checkbox"
                  class="
                    peer
                    cursor-pointer
                    opacity-0
                    absolute
                    h-full
                    w-full
                    z-20
                  "
                  checked
                />
                <span
                  class="
                    absolute
                    flex
                    items-center
                    justify-center
                    w-6
                    h-6
                    border
                    bg-white
                    dark:bg-slate-700 dark:border-slate-600
                    rounded-full
                    shadow
                    -left-1
                    top-1/2
                    -translate-y-1/2
                    transition
                    peer-checked:-translate-y-1/2 peer-checked:translate-x-full
                  "
                ></span>
                <span
                  class="
                    block
                    w-10
                    h-4
                    bg-slate-300
                    dark:bg-slate-600
                    rounded-full
                    shadow-inner
                    peer-checked:bg-violet-400
                    peer-focus:ring-0
                    outline-1 outline-transparent
                    peer-focus:outline-dashed peer-focus:outline-gray-300
                    dark:peer-focus:outline-gray-600
                    peer-focus:outline-offset-2
                    transition-all
                    duration-300
                  "
                ></span>
              </span>
              <div>
                <h3 class="font-heading text-xs text-muted-400">Session</h3>
                <span>New session started</span>
              </div>
            </label>
          </a>
        </div>
        <!--Item-->
        <div class="group">
          <a
            href="#"
            class="
              flex
              items-center
              gap-4
              font-heading
              text-sm
              p-4
              text-muted-600
              dark:text-muted-400
              hover:bg-muted-100
              dark:hover:bg-muted-800
              transition-colors
              duration-300
            "
          >
            <label
              for="switch-thin-8"
              class="flex items-center gap-4 cursor-pointer"
            >
              <span class="block relative h-4">
                <input
                  id="switch-thin-8"
                  type="checkbox"
                  class="
                    peer
                    cursor-pointer
                    opacity-0
                    absolute
                    h-full
                    w-full
                    z-20
                  "
                  checked
                />
                <span
                  class="
                    absolute
                    flex
                    items-center
                    justify-center
                    w-6
                    h-6
                    border
                    bg-white
                    dark:bg-slate-700 dark:border-slate-600
                    rounded-full
                    shadow
                    -left-1
                    top-1/2
                    -translate-y-1/2
                    transition
                    peer-checked:-translate-y-1/2 peer-checked:translate-x-full
                  "
                ></span>
                <span
                  class="
                    block
                    w-10
                    h-4
                    bg-slate-300
                    dark:bg-slate-600
                    rounded-full
                    shadow-inner
                    peer-checked:bg-violet-400
                    peer-focus:ring-0
                    outline-1 outline-transparent
                    peer-focus:outline-dashed peer-focus:outline-gray-300
                    dark:peer-focus:outline-gray-600
                    peer-focus:outline-offset-2
                    transition-all
                    duration-300
                  "
                ></span>
              </span>
              <div>
                <h3 class="font-heading text-xs text-muted-400">Password</h3>
                <span>Password change</span>
              </div>
            </label>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
