<div class="flex flex-col">
  <div class="px-3">
    <div class="relative flex items-center justify-between">
      <p class="font-sans text-sm text-muted-400">Spent this month</p>
    </div>
    <hr class="mt-6 mb-4 border-t border-muted-200 dark:border-muted-800" />

    <div class="space-y-4">
      <!--Field-->
      <div class="relative">
        <label class="inline-block font-alt text-sm text-muted-400 mb-1">
          At least...
        </label>
        <div class="group relative">
          <input
            type="number"
            class="
              pl-16
              pr-4
              py-2
              h-10
              text-sm
              leading-5
              font-sans
              w-full
              rounded
              bg-white
              text-muted-600
              border border-muted-300
              focus:border-muted-300 focus:shadow-lg focus:shadow-gray-300/50
              dark:focus:shadow-gray-800/50
              placeholder:text-muted-300
              dark:placeholder:text-muted-500
              dark:bg-muted-900
              dark:text-muted-200
              dark:border-muted-800
              dark:focus:border-muted-800
              tw-accessibility
              transition-all
              duration-300
            "
            placeholder="0.00"
          />
          <div
            class="
              absolute
              top-0
              left-0
              h-10
              w-16
              flex
              justify-center
              items-center
              text-muted-400
              group-focus-within:text-violet-500
              transition-colors
              duration-300
            "
          >
            <i
              class="iconify w-5 h-5"
              data-icon="ic:outline-greater-than-equal"
            ></i>
            <span>$</span>
          </div>
        </div>
      </div>
      <!--Field-->
      <div class="relative">
        <label class="inline-block font-alt text-sm text-muted-400 mb-1">
          No more than...
        </label>
        <div class="group relative">
          <input
            type="number"
            class="
              pl-16
              pr-4
              py-2
              h-10
              text-sm
              leading-5
              font-sans
              w-full
              rounded
              bg-white
              text-muted-600
              border border-muted-300
              focus:border-muted-300 focus:shadow-lg focus:shadow-gray-300/50
              dark:focus:shadow-gray-800/50
              placeholder:text-muted-300
              dark:placeholder:text-muted-500
              dark:bg-muted-900
              dark:text-muted-200
              dark:border-muted-800
              dark:focus:border-muted-800
              tw-accessibility
              transition-all
              duration-300
            "
            placeholder="0.00"
          />
          <div
            class="
              absolute
              top-0
              left-0
              h-10
              w-16
              flex
              justify-center
              items-center
              text-muted-400
              group-focus-within:text-violet-500
              transition-colors
              duration-300
            "
          >
            <i
              class="iconify w-5 h-5"
              data-icon="ic:outline-less-than-equal"
            ></i>
            <span>$</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
